$darkbg: #11111b;
$bg: #181825;
$contrastbg: #0f111a;
$bgSecondary: #11131c;
$bgSecondaryAlt: #bac2de;
$fg: #cdd6f4;
$fgDim: #bac2de;
$watermelon: #dd6777;

// Aliases
$background: $bg;
$backgroundSecondary: $bgSecondary;
$backgroundSecondaryAlt: $bgSecondaryAlt;
$foreground: $fg;
$foregroundDim: $fgDim;

$black: #11111b;
$dimblack: #181825;
$lightblack: #1e1e2e;
$red: #f38ba8;
$blue: #89b4fa;
$cyan: #89dceb;
$blue-desaturated: #74c7ec;
$magenta: #cba6f7;
$purple: #b4befe;
$green: #a6e3a1;
$aquamarine: #a6e3a1;
$yellow: #f9e2af;
$accent: $magenta;
$javacafeMagenta: #cba6f7;
$javacafeBlue: #89b4fa;
