/*
--rosewater: #f5e0dc;
--rosewater-rgb: 245 224 220;
--rosewater-hsl: 9.600 55.556% 91.176%;
--flamingo: #f2cdcd;
--flamingo-rgb: 242 205 205;
--flamingo-hsl: 0.000 58.730% 87.647%;
--pink: #f5c2e7;
--pink-rgb: 245 194 231;
--pink-hsl: 316.471 71.831% 86.078%;
--mauve: #  ;
--mauve-rgb: 203 166 247;
--mauve-hsl: 267.407 83.505% 80.980%;
--red: #f38ba8;
--red-rgb: 243 139 168;
--red-hsl: 343.269 81.250% 74.902%;
--maroon: #eba0ac;
--maroon-rgb: 235 160 172;
--maroon-hsl: 350.400 65.217% 77.451%;
--peach: #fab387;
--peach-rgb: 250 179 135;
--peach-hsl: 22.957 92.000% 75.490%;
--yellow: #f9e2af;
--yellow-rgb: 249 226 175;
--yellow-hsl: 41.351 86.047% 83.137%;
--green: #a6e3a1;
--green-rgb: 166 227 161;
--green-hsl: 115.455 54.098% 76.078%;
--teal: #94e2d5;
--teal-rgb: 148 226 213;
--teal-hsl: 170.000 57.353% 73.333%;
--sky: #89dceb;
--sky-rgb: 137 220 235;
--sky-hsl: 189.184 71.014% 72.941%;
--sapphire: #74c7ec;
--sapphire-rgb: 116 199 236;
--sapphire-hsl: 198.500 75.949% 69.020%;
--blue: #89b4fa;
--blue-rgb: 137 180 250;
--blue-hsl: 217.168 91.870% 75.882%;
--lavender: #b4befe;
--lavender-rgb: 180 190 254;
--lavender-hsl: 231.892 97.368% 85.098%;
--text: #cdd6f4;
--text-rgb: 205 214 244;
--text-hsl: 226.154 63.934% 88.039%;
--subtext1: #bac2de;
--subtext1-rgb: 186 194 222;
--subtext1-hsl: 226.667 35.294% 80.000%;
--subtext0: #a6adc8;
--subtext0-rgb: 166 173 200;
--subtext0-hsl: 227.647 23.611% 71.765%;
--overlay2: #9399b2;
--overlay2-rgb: 147 153 178;
--overlay2-hsl: 228.387 16.757% 63.725%;
--overlay1: #7f849c;
--overlay1-rgb: 127 132 156;
--overlay1-hsl: 229.655 12.775% 55.490%;
--overlay0: #6c7086;
--overlay0-rgb: 108 112 134;
--overlay0-hsl: 230.769 10.744% 47.451%;
--surface2: #585b70;
--surface2-rgb: 88 91 112;
--surface2-hsl: 232.500 12.000% 39.216%;
--surface1: #45475a;
--surface1-rgb: 69 71 90;
--surface1-hsl: 234.286 13.208% 31.176%;
--surface0: #313244;
--surface0-rgb: 49 50 68;
--surface0-hsl: 236.842 16.239% 22.941%;
--base: #1e1e2e;
--base-rgb: 30 30 46;
--base-hsl: 240.000 21.053% 14.902%;
--mantle: #181825;
--mantle-rgb: 24 24 37;
--mantle-hsl: 240.000 21.311% 11.961%;
--crust: #11111b;
--crust-rgb: 17 17 27;
--crust-hsl: 240.000 22.727% 8.627%;
*/

* {
    font-family: Segoe-Fluent-Icons, Segoe UI;
    font-size: 13px;
    font-weight: 500;
    color: #cdd6f4;
}

window#waybar {
    background: rgba(24, 24, 37, 0.75);
    background-image: url("./../assets/noise.png");
    border-top: 1px solid rgba(64, 64, 64, 0.8);
    color: #cdd6f4;
}

tooltip {
  background: rgba(30, 30, 46, 1);
  border: 1px solid rgba(17, 17, 27, 1);
}
tooltip label {
  color: #cdd6f4;
}

#taskbar {
    border-radius: 6px;
    min-width: 45px;
    min-height: 45px;
}

#taskbar button {
    margin-top:3px;
    margin-bottom:3px;
    margin-right:3px;
}

#taskbar button.active {
    background-color: rgba(64, 64, 64, 0.3); 
    border-bottom: 1px solid #cba6f7;

}

#custom-start {
    background-image: url("./win.png");
    background-size: 24px 24px;
    background-position: center;
    background-repeat: no-repeat;
}
#custom-start:hover {
    background-color: rgba(64, 64, 64, 0.8); 
}

#workspaces {
    margin: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    background-color: rgba(64, 64, 64, 0.3);
    border: 1px solid rgba(64, 64, 64, 0.8);
}

#workspaces button {
    border-radius: 0px;
    padding: 0 5px;
    color: #cdd6f4;
    border-bottom: 1px solid #181825;
}

#workspaces button.active {
    border-bottom: 1px solid #cba6f7;
}

#workspaces button:hover{
    border-bottom: 1px solid #cdd6f4;
}

#network {
    padding-left: 5px;
    padding-right: 10px
}

#pulseaudio {
    padding-left: 5px;
    padding-right: 10px}

#backlight {
    padding-left: 5px;
    padding-right: 10px}

#bluetooth {
    padding-left: 5px;
    padding-right: 10px}

#clock {
    padding-left: 5px;
    padding-right: 10px}

#battery {
    padding-left: 5px;
    padding-right: 10px}

#battery.charging {
    color: #a6e3a1;
}

#custom-spacer {
    font-size: 24px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: #cdd6f4;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}